@(title: String, scripts: Html = Html(""), username: Option[String] = None)(content: Html)(implicit request: RequestHeader, lang: Lang, env: securesocial.core.RuntimeEnvironment[_])

<!DOCTYPE html>

<html lang="en" xml:lang="en" xmlns= "http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Language" content="en">
  
  <title>@title</title>
  <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/storytellers-icon.png")">
  <link rel='stylesheet' href='@routes.WebJarAssets.at(WebJarAssets.locate("css/bootstrap.min.css"))'>
  <link rel='stylesheet' href='@routes.WebJarAssets.at(WebJarAssets.locate("css/font-awesome.min.css"))'>
  <link rel='stylesheet' media="screen" href='@routes.Assets.at("stylesheets/main.css")'>
  <script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("2.1.3/jquery.min.js"))'></script>
  <script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("js/bootstrap.min.js"))'></script>
  <script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("dust-core.js"))'></script>
  
  <script type='text/javascript' src='@routes.Assets.at("javascripts/main.js")'></script>
  <script type='text/javascript' src='@routes.Application.javascriptRoutes'></script>
</head>
<body>

<!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="pull-left navbar-btn" href="@routes.Application.index">
            <img src='@routes.Assets.at("images/storytellers-icon.png")' 
              style="max-width:32px; max-height:32px;margin-right:7px;" />
          </a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <div class="nav navbar-nav navbar-right">
            @if(username.isDefined) {
              <a id="user-profile-lnk" href="@routes.UserProfile.index">
                <div class="navbar-btn btn-group" role="group" style="margin-left:10px;">
                  <button type="button" class="btn btn-default" style="padding-left:20px;padding-right:20px;">@username.get</button>
                  <img class="btn btn-default" src='@routes.Assets.at("images/mailbox-icon.png")' 
                    style="max-width:34px; max-height:34px;padding:0px;"/>
                </div>
              </a>
            } else {
              <a href="@env.routes.loginPageUrl">
                <div class="navbar-btn btn-group" role="group" style="margin-left:10px;">
                  <button type="button" class="btn btn-default" style="padding-left:20px;padding-right:20px;">Log in</button>
                  <img class="btn btn-default" src='@routes.Assets.at("images/unlock-icon.png")' 
                    style="max-width:34px; max-height:34px;padding:0px;"/>
                </div>
              </a>
            }  
          </div>
          
          <form class="navbar-form">
            <div class="form-group" style="display:inline;">
              <div class="input-group" style="display:table;">
                <input type="text" class="form-control" placeholder="Search" autofocus="autofocus">
                <span class="input-group-btn" style="width:1%;">
                  <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span></button>
                </span>
              </div>
            </div>
          </form>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
    
    <div class="container">

      @content

    </div> <!-- /container -->
  
  
  @scripts
  
</body>
</html>
